.songs-new-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5rem;
}

.songs-new-container__input-title {

}

.songs-new-container__fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
}